[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CARMS"]
	path = CARMS
	url = https://github.com/cran/CARMS
[submodule "FaultTree"]
	path = FaultTree
	url = https://github.com/jto888/faulttree
[submodule "WeibullR"]
	path = WeibullR
	url = https://github.com/cran/WeibullR
[submodule "WeibullR.ALT"]
	path = WeibullR.ALT
	url = https://github.com/cran/WeibullR.ALT
[submodule "stosim"]
	path = stosim
	url = https://github.com/cran/stosim
